@{
    ViewBag.Title = "About";
    var name = TempData["mame"];

}
@using (Html.BeginForm("about","Home",FormMethod.Post))
{


    <main aria-labelledby="title">
        <h2 id="title">@ViewBag.Title.</h2>
       
        <p>Use this area to provide additional information.</p>
    </main>
    <a href="/home/index/">click me</a>
}
